.button{
    display: inline-block;
    background-color: var(--color-primary);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
}

.button__icon{
    font-size: 1.25rem;
    margin-left: .5rem;
    transition: .3s;
}
.button--flex{
    display: inline-flex;
    align-items: center;
}
.button--small{
    padding: .75rem 1rem;
}
.button--link{
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}



.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding: 2rem 0 4rem;
}

.container{
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

.project__container{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    gap: 2rem;
    grid-template-columns: repeat(1,1fr);
}
.project__content{
    position: relative;
    background-color:var(--color-bg-variant) ;
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: .5rem;
    border: 2px solid transparent;
    transition: .3s;
}
.project__content:hover{
    box-shadow: 0 8px 18px var(--color-primary) ;
    border-color: var(--color-primary-variant);
}

.project__icon{
    display: block;
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-bottom:1rem ;
}

.project__title{
    font-size: 1.25rem;
    margin-bottom: 1rem;
    

}

.project__button{
    cursor: pointer;
    font-size: .90rem;
    color: var(--color-primary);
    
    
}
.project__button:hover .button__icon{
    transform: translateX(.25rem);
}

@media screen and (max-width:350px) 
{
    .container{
        margin-left:1rem;
        margin-right: 1rem;
    }

    .project__container{
        grid-template-columns: max-content;
        justify-content: center;
    }
    .project__content{
        padding-right: 3.5rem;
    }
}


@media screen and (min-width:568px) {
    .project__container{
        grid-template-columns: repeat(2,1fr);

    }
}

@media screen and (min-width:768px) {
    .container{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .section{
        padding: 6rem 0 2rem;
    }

    .project__container{
        grid-template-columns: repeat(3,218px);
        justify-content: center;
    }
    .project__icon{
        font-size: 2rem;
    }
    .project__content{
        padding: 6rem 0 2rem 2.5rem;
    }
}
@media screen and (min-width:1024px) 
{
    .project__container{
        grid-template-columns: repeat(3,300px);
    }
}
